*:focus
{
	outline: none;
}

::-webkit-selection,
::-moz-selection,
::selection
{
	background:#7fa9c1;
}

.ui-content {
	margin: 0 auto;
	padding: 0;
}

.style-box-1 {
	background: rgba(255,255,255,0.5);
}

.style-box-2 {
	background: rgba(255,255,255,0.25);
}

.left {
	float: left;
	width: 35%;
	position: relative;
}

.right {
	float:right;
	width: 60%;
	margin: 40px 0 20px 0;
	margin-right: 2.5%;
}

h1 {
	-webkit-transition: text-shadow .3s linear;
	transition: text-shadow .3s linear;
	overflow:visible !important;
}

h1:hover {
	text-shadow: 0px 0px 0.8em #fff !important;
}


h1 a {
	color: inherit !important;
	font-family: 'OrbitronMedium' !important;
	font-weight: 500 !important;
	letter-spacing: 0.2em;
}

.mobile-visible {
	display:none;
}

.logo {
	margin:30px 10%;
	padding-bottom: 10px;
	border-bottom:1px solid #b6cedc;
}

.logo h1 {
	font-size:4em;
	line-height:1em;
	text-shadow: 1px 1px 2px #2f6d9f, 1px 1px 8px #555;
}

.logo h2 {
	text-transform: uppercase;
	font-size:0.7em;
	font-weight:normal;
	letter-spacing:0.3em;
	cursor: default;
}

.app {
	margin-top: 30px;
}

.weak-label {
	display:block;
	margin-bottom: 5px;
}

.app .weak {
	display: inline-block;
	width: 80%;
	height:25px;
	height: 1.5em;
	font-family: Courier, monospace;
}

.chars .ui-btn-inner {
	padding-left: 19px;
	padding-right: 19px;
}

.icon  {
	position: relative;
	text-align:center;
	margin:20px auto;
	width:102px;
	height:102px;
	background: rgba(255,255,255,0.25);
	-webkit-border-radius: 51px;
	-moz-border-radius: 51px;
	border-radius: 51px;
}

.icon-small {
	text-align:center;
	display:inline-block;
	width:72px;
	height:72px;
	margin: 10px;
	background: url('/images/icon72.png') no-repeat;
	opacity:0.6;
}

.icon * {
	display:none
}

.icon .loading {
	margin-top:21px;
	margin-left:-5px
}

.icon .clock {
	color: #fff;
	text-align: center;
	font-size: 58px;
	font-weight: bold;
	padding-top: 22px;
	cursor: pointer;
}

.strong {
	position:relative;
	overflow:hidden;
	padding: .4em;
	min-height: 1.5em;
	line-height:1.5;
	width: 80%;
	display: inline-block;
	margin-bottom: 8px;
	word-wrap: break-word;
	font-family: Courier, monospace;
	text-align: left;
}

.strong-placeholder {
	color: #a5a5a5;
	text-align: left;
}

.strong-0 {
	background:#d6ffd6;
}
.strong-0::-webkit-selection,
.strong-0::-moz-selection,
.strong-0::-o-selection,
.strong-0::selection
{
	background:#a3ffa3;
}
.strong-1 {
	background:#ffd6d6;
}
.strong-1::-webkit-selection,
.strong-1::-moz-selection,
.strong-1::selection
{
	background:#ffa3a3;
}
.strong-2 {
	background:#ffffd6;
}
.strong-2::-webkit-selection,
.strong-2::-moz-selection,
.strong-2::selection
{
	background:#ffffa3;
}
.strong-3 {
	background:#d6d6ff;
}
.strong-3::-webkit-selection,
.strong-3::-moz-selection,
.strong-3::selection
{
	background:#a3a3ff;
}
.strong-4 {
	background:#d6ffff;
}
.strong-4::-webkit-selection,
.strong-4::-moz-selection,
.strong-4::selection
{
	background:#a3ffff;
}
.strong-5 {
	background:#ffd6f5;
}
.strong-5::-webkit-selection,
.strong-5::-moz-selection,
.strong-5::selection
{
	background:#ffa3ff;
}
.strong-6 {
	background:#f0f0f0;
}
.strong-6::-webkit-selection,
.strong-6::-moz-selection,
.strong-6::selection
{
   background:#d0d0d0;
}
.strong-7 {
	background:#bcbcbc;
}
.strong-7::-webkit-selection,
.strong-7::-moz-selection,
.strong-7::selection
{
	background: #acacac;
}

.less {
	margin-top:25px;
}

.more {
	margin-top: 0;
	margin-bottom:30px;
}

.more .ui-collapsible-heading {
	margin: 0 15%;
	width:70%;
	margin-bottom: 10px;
}

.more .ui-collapsible-content {
	padding:0;
}

.pointer {
	cursor: pointer
}

nav {
	overflow:hidden;
}

nav ul li a {
	color:#fff!important;
	background:none!important;
	height:40px;
	
	border:none !important;
	border-left: 1px solid #9a9a9a!important;
	border-right: 1px solid #f3f3f3!important;
	
	font-size: .9em !important;
	font-weight: bold !important;
	text-shadow: inherit !important;
	text-transform: uppercase;
	
	-webkit-transition: text-shadow .2s linear;
	transition: text-shadow .2s linear;
}

nav ul li a:hover {
	text-shadow: 0px 0px 15px #fff, 0px 0px 35px #fff, 0px 0px 50px #fff!important;
}

nav.mobile-hidden {
	height:70px;
}

nav.mobile-hidden ul li {
	float:left;
	width:33.2%;
}

nav.mobile-hidden ul li a {
	display:block;
	font-size:1.2em !important;
	padding:25px 0 5px 0;
	height:70px;
}

nav ul li:first-child a{
	border-left:none !important;
}

nav ul li:last-child a{
	border-right:none !important;
}

.info {
	padding: 5%;
	text-align:left;
	margin-bottom:30px;
}

.ui-radio input, .ui-checkbox input {
	display:none;
}

.hithere {
	margin: 10px 10% 50px 10%;
	padding:  8px 0;
	border-top: 1px solid #b6cedc;
	border-bottom: 1px solid #b6cedc;
	text-align:center;
}

.hithere h3 {
	font-size: 2em;
	line-height: 1.2em;
}

.hithere p {
	padding-top:8px;
	font-size: 1.2em !important;
	line-height: 1.2em !important;
	border: none !important;
}

.info h4 {
	font-size: 1.5em;
	font-weight: normal;
	margin-top:0px;
	padding-bottom: 5px;
	border-bottom:1px solid #b6cedc;
	clear:both;
}
 

.info p {
	font-size:1em;
	line-height: 1.5em;
	padding-top: 10px;
	margin-bottom:20px;
}


.tag-line {
	margin: 10px 0 30px 0;
	text-align:center;
}

.tag-line p {
	font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
	font-size:2.6em;
	line-height:1.3;
	border-top: 1px solid #b6cedc;
	border-bottom: 1px solid #b6cedc;
	margin: 0 0 30px 0;
	padding: 20px 0 20px 0;
}

footer {
	margin-top:30px;
	padding-top:30px;
	font-size: 0.8em !important;
}

footer p {
	padding:5px 5% 20px 5%;
	font-size:1em;
	font-style: normal;
	text-transform: uppercase;
}

footer .left {
	padding-top:20px;
	margin-bottom: 30px;
}

footer .left .ui-icon {
	top: 1em;
}

footer .right {
	margin-top:-10px;
}

footer .ui-link {
	font-weight:bold!important;
	color:#fff!important;
}

footer h1 {
	font-size: 2.8em;
	margin-left:5px;
}

footer h1 .ui-link {
	font-weight:normal!important;
	color:inherit!important;
}

footer h1:hover {
	text-shadow: 1px 1px 2px #2f6d9f!important;
}


footer .ui-controlgroup-label {
	width:100%;
	display:block;
	margin-bottom:8px;
	font-size: 1em;
	font-weight:bold;
	text-transform: uppercase;
}

.social-wrapper {
	margin: 10px 10px 10px 0;
	float:left;
	height:80px;
}

.github {
	width:110px;
	padding: 10px 15px;
	background:#ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.brick {
	display:block;
	padding: 10px 15px 0 15px;
	margin: 5px 10px 10px 0;
	width:120px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.brick img {
	width:100%;
}

.ui-content {
	background:none!important;
}

@media screen and (min-width: 1200px) {
	.ui-content {
		width:1200px;
	}
}

.ui-field-contain { border-width: 0; padding: 0; margin: 1em 0; }
.app .ui-controlgroup-controls { width: 60%; display: inline-block; } 

@media all and (min-width: 450px){
	.ui-field-contain { border-width: 0; padding: 0; margin: 1em 0; }
}

@media screen and (max-width: 800px) {
	
	.app, .mobile-hidden {
		display:none;
	}
	
	.page-main .app {
		display: block;
		margin-bottom:40px;
	}
	
	footer {
		margin-top:0;
	}
	
	.mobile-visible {
		display:block;
	}
	
	.left, .right {
		margin:0;
		float:none;
		width:100% !important;
		padding-bottom: 0;
	}

	.info {
		margin-bottom:0;
		-moz-border-radius: 	0;
		-webkit-border-radius: 	0;
		border-radius: 		0;
	}
	
	.tag-line p {
		font-size: 1.8em;
	}	
}

.simple-box p {
	margin-bottom: 0px;
}

.simple-box img {
	float:left;
	margin: 20px 0 0 20px;
}

.ui-controlgroup-horizontal .ui-radio, .ui-controlgroup-horizontal .ui-checkbox {
	display: inline-block;
	float:none;
	margin: 0 -5px 0 0;
}

.page-simple .left, .page-simple .right {
	float:none;
	width:480px;
	margin: 0 auto;
}

.version {
	font-size: 9px;
	font-weight: normal;
	text-shadow: none;
}

.shortcut {
	text-decoration:underline;
}
