{% extends "index.html" %}

{% block back %}
<a href="/" data-icon="back" data-rel="back" class="ui-btn-left">Back</a>
{% endblock %}

{% block content %}
	
	<div class="hithere">
		<h3>Terms of Service</h3>
	</div>
	
	<h4>I. Google</h4>
	<p>This service is hosted on Google Appengine. As a consequence Google's Terms of Service may apply to you in addition to this agreement. </p>
	
	<h4>II. Description of Service</h4>
	<p>WISP is a personal password prompting service. It translates a given alphanumerical sequence, which I will refer to as "weak password", into several other alphanumerical sequences, which I will refer to as "strong passwords". I will further refer to this process and its surrounding content as "the Service". 
You understand and agree that the Service is provided to you as it is. I disclaim all responsibility and liability for the availability, timeliness, security or reliability of the Service.</p>
	
	<h4>III. Standards of Security</h4>
	<p>The Service was developed for personal usage and therefore lives up to standards of security, availability, timeliness and reliability that meet my personal requirements. By using the Service you agree that these standards are sufficient for your purposed usage. (Do not use this Service to access your nuclear power plant)</p>
	
	<h4>IV. Proper Use</h4>
	<p>You will be responsible for keeping your "weak password" AND the appropriate "strong passwords" secure. You agree that you are responsible for your own use of the Service and for any consequences thereof. You agree that you will use the Service in compliance with all applicable local, state, national, and international laws, rules and regulations.</p>

	<h4>V. Privacy</h4>
	<p>As far as the Service is concerned only the "weak password" and its appropriate "strong passwords" are stored. No additional data such as IP addresses are stored or brought into connection with the given "weak password" and the appropriate "strong passwords". (I will not be able to hack your accounts)</p>

	<h4>VI. Links</h4>
	<p>The Service may provide links to other World Wide Web sites or resources. I have no control over these sites or resources and you understand that I am not responsible for their availability, content and its truthfulness. Consequently I am not responsible for any damage caused by use or reliance on such sites or resources.</p>

	<h4>VII. Approval</h4>
	<p>You understand that you agree with these terms upon usage of the service.</p>

	<h4 style="text-transform:uppercase; text-align:center; font-size:1.4em">You expressly understand that the usage of this Service is at your sole risk.</h4>
{% endblock %}