<div data-role="fieldcontain">
	<label for="weak" class="vertical-label">Insert weak password: </label>
	<input type="password" name="weak" class="weak" value="" placeholder="Weak password" data-theme="a" />
</div>
<div class="icon"></div>
<div class="app-settings"></div>
<div class="app-passwords">
	<div class="less">
		<p class="vertical-label">Copy strong passwords:</p>
	</div>
	<div class="more" data-role="collapsible" data-collapsed="true">
		<h3><span class="shortcut">M</span>ore...</h3>
	</div>
</div>
