{% extends "index.html" %}

{% block back %}
<a href="/" data-icon="back" data-rel="back" class="ui-btn-left">Back</a>
{% endblock %}

{% block settings %}
{% endblock %}

{% block content %}
<div class="info style-box-2 ui-corner-bottom">
	<div class="hithere">
		<h3>Settings</h3>
	</div>
	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
			<input type="checkbox" name="enable-settings" id="enable-settings" />
			<label for="enable-settings">I'm the only one who has access to this device.</label>
		</fieldset>
	</div>
	<p>This will allow Prez to store your last settings on this machine so you can access your passwords faster next time. No sensitive data will be stored.</p>
</div>	
{% endblock %}
