<!DOCTYPE html>
<html manifest="cache.manifest">
	<head lang="en">	 
		<title>{{ title }}</title>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta property="og:title" content="{{ title }}"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://wispapp.appspot.com"/>
		<meta property="og:image" content="https://wispapp.appspot.com/images/icon96.png"/>
		<meta property="og:site_name" content="{{ title }}"/>
		<meta property="og:description" content="WISP is an easy way to turn your weak passwords into strong ones."/>

		<link rel="icon" href="images/icon16.png" sizes="16x16" type="image/png">
		<link rel="icon" href="images/icon32.png" sizes="32x32" type="image/png">
		<link rel="icon" href="images/icon32.png" sizes="32x32" type="image/png">
		<link rel="icon" href="images/icon96.png" sizes="96x96" type="image/png">
		<link rel="apple-touch-icon" href="images/icon96.png" />

		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"> {parsetags: 'explicit'} </script>
		<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="js/json2.js"></script>
		<script type="text/javascript" src="js/wisp.js"></script>
		<script type="text/javascript" src="js/jquery.mobile-1.0rc1.min.js"></script>
		
		<link rel="stylesheet" href="css/jquery.mobile-1.0rc1.min.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="css/reset.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="css/fonts.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="css/theme.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="css/wisp.css" media="all"/>
		
	</head>
	<body>	
	<div data-role="page" data-theme="f" class="{% if is_main %}page-main{% endif  %} {% block page-class %}{% endblock %}">
	<header data-role="header" data-theme="a">
	<h1><a href="/index" data-direction="reverse">{{ title }}</a></h1>
	<a href="/settings" data-icon="gear" class="ui-btn-right">Settings</a>
	{% block back %}{% endblock %}
	</header>
		<nav class="mobile-visible style-box-1" data-role="navbar">
			<ul>
				{% for n in nav %}
					<li><a href="/{{ n|lower }}">{{ n }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<section data-role="content">
		{% block left %}
			<div class="left">
				<div class="logo mobile-hidden">
					<h1><a href="/index" data-direction="reverse">{{title}}</a></h1>
					<h2>{{ subtitle }}</h2>
				</div>
				<div class="app">					
					<div data-role="fieldcontain">
						<label for="weak" class="weak-label">Insert weak password: </label>
						<input type="password" name="weak" class="weak" value="" placeholder="Weak password" data-theme="c" />
					</div>
					<div class="icon">
						<img class="locked" src="images/locked.png" alt="Locked" title="Go!"/>
						<img class="loading" src="images/loading.gif" alt="Loading" title="In progress"/>
						<img class="unlocked" src="images/unlocked.png" alt="Click to clear content" title="Click to clear content"/>
						<div class="clock" title="Click to clear content">60</div>
					</div>
					<div data-role="fieldcontain">
						<fieldset data-role="controlgroup" data-type="horizontal" data-theme="f">
							<input type="radio" name="length" id="{{ file }}-length-0" class="length-0 length" value="7" />
							<label for="{{ file }}-length-0">7</label>
							<input type="radio" name="length" id="{{ file }}-length-1" class="length-1 length" value="14" />
							<label for="{{ file }}-length-1">14</label>
							<input type="radio" name="length" id="{{ file }}-length-2" class="length-2 length" value="21" checked />
							<label for="{{ file }}-length-2">21</label>
							<input type="radio" name="length" id="{{ file }}-length-3" class="length-3 length" value="42" />
							<label for="{{ file }}-length-3">42</label>
						</fieldset>
					</div>
					<div class="chars" data-role="fieldcontain">
						<fieldset data-role="controlgroup" data-type="horizontal" data-theme="f"> 
							<input type="checkbox" name="chars" id="{{ file }}-chars-0" class="chars-0 chars" checked />
							<label for="{{ file }}-chars-0"><span class="shortcut">a</span>bc</label>
							<input type="checkbox" name="chars" id="{{ file }}-chars-1" class="chars-1 chars" checked />
							<label for="{{ file }}-chars-1"><span class="shortcut">A</span>BC</label>
							<input type="checkbox" name="chars" id="{{ file }}-chars-2" class="chars-2 chars" checked />
							<label for="{{ file }}-chars-2"><span class="shortcut">1</span>23</label>
							<input type="checkbox" name="chars" id="{{ file }}-chars-3" class="chars-3 chars" />
							<label for="{{ file }}-chars-3"><span class="shortcut">!</span>$%</label>
						</fieldset>
					</div> 
					<div class="less">
						<p class="weak-label">Copy strong passwords:</p>
						<div class="strong-0 strong strong-placeholder ui-input-text ui-corner-all ui-body-c ui-shadow-inset" data-placeholder="Primary strong password"></div>&nbsp;
						<div class="strong-1 strong strong-placeholder ui-input-text ui-corner-all ui-body-c ui-shadow-inset" data-placeholder="Secondary strong password"></div>&nbsp;
					</div>
					<div class="more" data-role="collapsible" data-collapsed="true">
						<h3><span class="shortcut">M</span>ore...</h3>
						<div class="strong-2 strong strong-placeholder ui-corner-all ui-body-c ui-shadow-inset" data-placeholder="3rd strong password"></div>&nbsp;
						<div class="strong-3 strong strong-placeholder ui-corner-all ui-body-c ui-shadow-inset" data-placeholder="4th strong password"></div>&nbsp;
						<div class="strong-4 strong strong-placeholder ui-corner-all ui-body-c ui-shadow-inset" data-placeholder="5th strong password"></div>&nbsp;
						<div class="strong-5 strong strong-placeholder ui-corner-all ui-body-c ui-shadow-inset" data-placeholder="6th strong password"></div>&nbsp;
						<div class="strong-6 strong strong-placeholder ui-corner-all ui-body-c ui-shadow-inset" data-placeholder="7th strong password"></div>&nbsp;
						<div class="strong-7 strong strong-placeholder ui-corner-all ui-body-c ui-shadow-inset" data-placeholder="8th strong password"></div>&nbsp;
					</div>
				</div>					
			</div>
			{% endblock %}
			{% block right %}
			<div class="right">
				<div class="info simple-box style-box-2 ui-corner-all mobile-hidden">
					<h4>WISP is currently in Beta</h4>
					<p>Please keep in mind that this is a preview. The service is not working correctly and will probably change in the future.</p>
				</div>
				<nav class="mobile-hidden style-box-1 ui-corner-top">
					<ul>
						{% for n in nav %}
							<li><a href="/{{ n|lower }}">{{ n }}</a></li>
						{% endfor %}
					</ul>
				</nav>
				{% block content %}
				<div class="info style-box-2 ui-corner-bottom">
					<div class="tag-line">
						<p>&raquo;WISP is an easy way to turn your weak passwords into strong ones&laquo;</p>
					</div>
					<div class="mobile-hidden">
						<a href="https://github.com/cell303/WISP"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/bec6c51521dcc8148146135149fe06a9cc737577/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
					</div>
				</div>
				<div class="info simple-box style-box-2 ui-corner-all mobile-hidden" style="min-height:450px">
					<h4>Receive your passwords on the go</h4>
					<img src="/images/mobile.png" style="width:200px; float:right"/>
					<p style="padding-top:25px">WISP is optimized for all kinds of mobile devices. The mobile version of WISP is displayed when you open this page with your phone's browser. </p>
					<p>WISP will also be available as mobile app for all major devices soon.</p>
					<img class="ui-corner-all" style="margin-left:0; padding:0" src="/images/qr.jpg" />
				</div>
				{% endblock %}
			</div>
		{% endblock %}
		</section>
		<footer data-role="footer" data-theme="f">
			<div class="ui-content">
				<div class="left">
					<p>I understand that the usage of this service is at my sole risk.</p>
					<div data-role="fieldcontain">
						<fieldset data-role="controlgroup">
							<legend class="tos-legend">I agree with the <a href="/terms">Terms of Service</a>.</legend>
							<input type="checkbox" name="i-agree" id="{{ file }}-i-agree" class="i-agree" checked />
							<label for="{{ file }}-i-agree">I agree</label>
						</fieldset>
					</div>
				</div>
				<div class="right">
					<a class="icon-small" href="/index"></a>
					<h1><a href="/index">WISP</a></h1>
					<p>by <a href="https://twitter.com/#!/cell303" rel="external">@cell303</a></p>
					<p class="version">{{ version }}</p>
				</div>			
			</div>
		</footer>
	</div>
	</body>
</html>

